NET "CPU_AS_n_i" 		LOC = "P8";
NET "CPU_AVEC_n_o" 		LOC = "P96";
NET "CPU_BG_n_i" 		LOC = "P50";
NET "CPU_BGACK_n_o" 	LOC = "P77";
NET "CPU_BR_n_o" 		LOC = "P49";
NET "ECB_BUSACK_n_o" 	LOC = "P11";
NET "ECB_BUSRQ_n_i" 	LOC = "P41";
NET "FLASH_CS_n_o" 		LOC = "P17";
NET "RAM_CS_n_o" 		LOC = "P22";
NET "CPU_DS_n_i" 		LOC = "P7";
NET "CPU_DSACK0_n_o" 	LOC = "P99";
NET "CPU_DSACK1_n_o" 	LOC = "P97";
NET "FPU_DSACK0_n_i" 	LOC = "P4";
NET "FPU_DSACK1_n_i" 	LOC = "P3";
NET "FLASH_OE_n_o" 		LOC = "P16";
NET "FPU_CS_n_o" 		LOC = "P6";
NET "FLASH_WE_n_o" 		LOC = "P15";
NET "HALT_n_o" 			LOC = "P1";
NET "ECB_INT_n_i" 		LOC = "P39";
NET "CPU_IPL_n_o(0)" 	LOC = "P95";
NET "CPU_IPL_n_o(1)" 	LOC = "P93";
NET "CPU_IPL_n_o(2)" 	LOC = "P92";
NET "ECB_NMI_n_i" 		LOC = "P33";
NET "RESET_n_i" 		LOC = "P32";
NET "RESET_n_o" 		LOC = "P10";
NET "CPU_RMC_n_i" 		LOC = "P85";
NET "RTC_CS_n_o" 		LOC = "P28";
NET "ECB_WAIT_n_i" 		LOC = "P42";
NET "ADDR_LO_i(0)" 		LOC = "P73";
NET "ADDR_LO_i(1)" 		LOC = "P76";
NET "ADDR_HI_i(16)" 	LOC = "P81";
NET "ADDR_HI_i(17)" 	LOC = "P82";
NET "ADDR_HI_i(18)" 	LOC = "P80";
NET "ADDR_HI_i(19)" 	LOC = "P78";
NET "ADDR_LO_i(2)" 		LOC = "P56";
NET "ADDR_HI_i(20)" 	LOC = "P68";
NET "ADDR_HI_i(21)" 	LOC = "P70";
NET "ADDR_HI_i(22)" 	LOC = "P52";
NET "ADDR_HI_i(23)" 	LOC = "P53";
NET "ADDR_HI_i(24)" 	LOC = "P54";
NET "ADDR_HI_i(25)" 	LOC = "P55";
NET "ADDR_HI_i(26)" 	LOC = "P66";
NET "ADDR_HI_i(27)" 	LOC = "P67";
NET "ADDR_HI_i(28)" 	LOC = "P71";
NET "ADDR_HI_i(29)" 	LOC = "P72";
NET "ADDR_LO_i(3)" 		LOC = "P60";
NET "ADDR_HI_i(30)" 	LOC = "P74";
NET "ADDR_HI_i(31)" 	LOC = "P79";
NET "ADDR_LO_i(4)" 		LOC = "P58";
NET "ADDR_LO_i(5)" 		LOC = "P59";
NET "ADDR_LO_i(6)" 		LOC = "P61";
NET "ADDR_LO_i(7)" 		LOC = "P63";
NET "ADDR_LO_i(8)" 		LOC = "P65";
NET "ADDR_LO_i(9)" 		LOC = "P64";
NET "ECB_IORQ_n_o" 		LOC = "P12";
NET "ECB_MEMRQ_n_o" 	LOC = "P9";
NET "ECB_RD_n_o" 		LOC = "P37";
NET "ECB_WR_n_o" 		LOC = "P25";
NET "CLK_i" 			LOC = "P27";
NET "D31_i" 			LOC = "P14";
NET "DRIVER_DIR_o" 		LOC = "P46";
NET "CPU_FC_i(0)" 		LOC = "P86";
NET "CPU_FC_i(1)" 		LOC = "P87";
NET "CPU_FC_i(2)" 		LOC = "P89";
NET "ECB_IRQ_n_i(0)" 	LOC = "P40";
NET "ECB_IRQ_n_i(1)" 	LOC = "P13";
NET "ECB_IRQ_n_i(2)" 	LOC = "P34";
NET "ECB_IRQ_n_i(3)" 	LOC = "P35";
NET "ECB_IRQ_n_i(4)" 	LOC = "P36";
NET "CPU_RW_i" 			LOC = "P2";
NET "RTC_AS_o" 			LOC = "P90";
NET "RTC_DS_o" 			LOC = "P29";
NET "RTC_INT_n_i" 		LOC = "P30";
NET "CPU_SIZ0_i" 		LOC = "P91";
NET "CPU_SIZ1_i" 		LOC = "P94";
NET "DRIVER_HI_o"		LOC = "P43";
NET "UMD_n_o" 			LOC = "P19";
NET "UUD_n_o" 			LOC = "P20";
NET "LLD_n_o" 			LOC = "P23";
NET "LMD_n_o" 			LOC = "P24";
NET "TEST_o" 			LOC = "P18";

